<div class="container">
    <div class="mt-4 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Login</h4>
            </div>
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <label for="username" class="form-label">Username</label>
                    <input ngModel name="userName" type="text" class="form-control" id="username" placeholder="username" required>

                    <label for="password" class="form-label"> Password </label>
                    <input ngModel name="userPassword" type="password" id="password" placeholder="password" class="form-control" required>

                    <div class="justify-content-center text-center">
                        <div class="text-center text-danger">
                            {{erreur}}
                        </div>
                        <button type="submit" class="btn btn-primary mt-2 text-center justify-content-center">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
